[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.main-content {
    min-height: 431px;
    margin-top: 12px;
    margin-bottom: 60px;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.ng-table th {
    text-align: left;
}

.statistics {
    margin: 10px 0;
}

.value {
    color: #333;
    font-weight: 600;
}

.statistics-label {
    color: #333;
    font-size: 12px;
}